<article class="card-persona" id="obras-sociales">
    <h3> {{ obraSocial.fields.nombre}} </h3>
    <img src="{{ obraSocial.fields.path_archivo }}" alt="{{ obraSocial.fields.nombre}}" />

    <ul class="datos-persona">
        <li> {{ obraSocial.cantidadProfesionalesAdheridos }} profesionales adheridos</li>
        <li> {{ obraSocial.cantidadProfesionalesDisponibles}} especialidades disponibles</li>
    </ul>
    <a href="/profesionales">Ver Profesionales</a>
</article>