<article class="card-persona">
    <img src="../assets/images/personas/doctor_1.jpg" alt="foto doctor" />
    <h3> {{ profesional.nombreProfesional }}</h3>
    <h4> {{ profesional.especialidadProfesional }}</h4>
    <ul>
        <li><b>Dias de atención:</b> {{ profesional.diasAtencion }}</li>
        <li><b>Horario de atención:</b> {{ profesional.horarioAtencion }}</li>
        <li><b>Obras Sociales:</b> {{ profesional.obrasSociales }}</li>
    </ul>
    <a href="/solicitarTurno">Solicitar Turno</a>
</article>